html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  html {
    scroll-padding-top: 5rem; /* Match or slightly exceed your header height */
  }
  
  body {
    padding-top: 0px; /* or whatever matches your header height */
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* Ensure subsequent sections have proper spacing */
  section:not(#about) {

    z-index: 2;
    margin-top: 30vh;
    margin-bottom: 20vh;
    padding: 1rem;
    background: white;
  }
  