html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 5rem; /* Match or slightly exceed your header height */
  }

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section:not(#about):not(#contact) {

  margin-top: 30vh;
  margin-bottom: 20vh;
  padding: 1rem;
  background: white;
}

#contact {
  margin-top: auto;  /* This now works! */
  margin-bottom: 0;
  padding: 1rem;
  background: white;
}


