canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none !important; /* Force override */
  z-index: 0 !important; /* Force override */
}

/* Target the canvas directly */
.particles-canvas canvas {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 190% !important;
  pointer-events: none !important;
  z-index: 0 !important;
}
